.popups #meal_select.popup {
    display: grid;
    grid-gap: 0.1em 0.1em;
    grid-template-areas: 
        "popup-header popup-header popup-header"
        "recipe-label recipe-select recipe-select"
        "side-label side-select side-select"
        "spacer save-meal cancel-meal";
}
.popups #meal_select.popup h1 {
    grid-area: popup-header;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.popups #meal_select.popup [for="recipe_id"] {
    grid-area: recipe-label;
}
.popups #meal_select.popup [var="recipe_id"] {
    grid-area: recipe-select;
}

.popups #meal_select.popup [for="side_id"] {
    grid-area: side-label;
}
.popups #meal_select.popup [var="side_id"] {
    grid-area: side-select;
}

.popups #meal_select.popup [action="save"] {
    grid-area: save-meal;
}
.popups #meal_select.popup [action="cancel"] {
    grid-area: cancel-meal;
}
