section.meal_details {
    grid-area: main;
    /*
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1em auto auto auto;
    grid-gap: 0.25em 0.25em;
    grid-template-areas: 
        "chef"
        "recipe"
        "side"
        "extra";
        */
}
.app [view="meal"] section#rooms_list,
.app [view="meal"] [day="today"],
.app section.meal_details {
    display: none;
}
.app [view="meal"] section.meal_details{
    display: block;
}
section.meal_details .chef {
    grid-area: chef;
}
section.meal_details [var="recipe"] {
    grid-area: recipe;
}
section.meal_details [var="side"] {
    grid-area: side;
}
section.meal_details .recipe {
    display: grid;
    grid-template-columns: 15em auto 20em 15em;
    grid-gap: 0.25em 0.25em;
    grid-template-areas: 
        "header header header header"
        "line2 line2 times tasks"
        "ingredients instructions instructions instructions";
}
section.meal_details .recipe h1,
section.meal_details .recipe h2 {
    grid-area: header;
    margin: 0em;
}
section.meal_details .recipe ul {
    grid-area: ingredients;
    margin: 0em;
    padding: 0em;
}
section.meal_details .recipe ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
section.meal_details .recipe ul li span::after {
    font-size: 0.75em;
    margin-left: 0.5em;
}
section.meal_details .recipe .times {
    grid-area: times;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}
section.meal_details .recipe .times span::before,
section.meal_details .recipe .times span::after {
    font-size: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
section.meal_details .recipe .tasks {
    grid-area: tasks;
    text-align: right;
}
section.meal_details .recipe [var="instructions"] {
    grid-area: instructions;
    padding: 0.5em;
}

.app [view="meal"] [show] [day="today"]{
    display: block;
}
.app [view="meal"] [show="0"] .meal_stamp[index="0"],
.app [view="meal"] [show="1"] .meal_stamp[index="1"],
.app [view="meal"] [show="2"] [index="2"],
.app [view="meal"] [show="3"] [index="3"],
.app [view="meal"] [show="4"] [index="4"],
.app [view="meal"] [show="5"] [index="5"]{
    display: none !important;
}

@media( max-width:600px) {
    .app .show_details[view="meal"] section[collection="meal_plan"] {
        display: none !important;
    }
    .app .show_details[view="meal"] section.meal_details {
        display: block !important;
    }
    section.meal_details .recipe {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0.25em 0.25em;
        grid-template-areas: 
            "header"
            "times"
            "tasks"
            "ingredients"
            "instructions";
    }
}
